.pdl-10{
    padding-left: 10px; 
}

.mg-t-a {
    margin: auto;
 }
 .table-m{
     display: block;
     
     
 }  
 .center-a{
     text-align: center;
     font-size: large;
 } 
 .button-a{
    text-align:center;
    display:block;
    margin: 10px;
  }
  .center-content{
      margin-left: 20px;
     
  }
 
  .signin-form{
      padding: 25px;
  }
     
  