.pdl-10{
    padding-left: 10px; 
}

.mg-t-a {
    margin: 20px;
background-color: beige; }
 .table-m{
     display: block;
     
     
 }  
 .center-a{
     text-align: center;
     font-size: large;
 } 
 .button-a{
    text-align:center;
    display:block;
    margin: 10px;
  }
  .center-content{
      margin-left: 20px;
     
  }
 
  .dropdown-menu-c {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 0.8125rem;
    color: #494c57;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 3px; }
    .dropdown-menu-c {
        padding: 0;
        border-width: 2px;
        border-radius: 0; }

  